<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="isErrorMessage === 3">
        {{errorMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isErrorMessage === 2">
        {{errorMessage}}
    </div>
    <h1 class="text-center">Registration Form</h1>
    <form #frm="ngForm" name="frm" novalidate>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" id="email" #email="ngModel"
                email required>
            <p class="error-text-message" *ngIf="frm.submitted && email.hasError('required')">
                email is required.
            </p>
            <p class="error-text-message" *ngIf="frm.submitted && email.errors?.email  && !email.hasError('required')">Email
                must be a valid email address</p>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" id="username" #username="ngModel"
                required>
            <p class="error-text-message" *ngIf="frm.submitted && username.hasError('required')">
                Username is required.
            </p>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password"
                #password="ngModel" required>
            <p *ngIf="frm.submitted && password.hasError('required')">
                Password is required.
            </p>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-right:30px;" (click)="Register(frm)">Refgister</button>
        <a routerLink="/login">Login Here....</a>

    </form>
</div>

