<div class="container">
    <div class="col-md-12">
        <label class="">
            <strong>User Email: {{user.email}}</strong>
        </label>
        <button class="btn btn-success float-right" (click)="logout()">LogOut</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="todolist not-done">
                <h1>My Todo List</h1>
                <input type="text" class="form-control add-todo" placeholder="Add todo" [(ngModel)]="itemText"
                    (keyup.enter)="addItem()">
                <hr>
                <ul id="sortable" class="list-unstyled" *ngFor="let row of TodoList">
                    <li class="ui-state-default">
                        <label *ngIf="row.done"><del>{{row.text}}</del></label>
                        <label *ngIf="row.done === false">{{row.text}}</label>
                        <div class="float-right" style="margin-bottom:5px">
                            <button class="btn" title="Done" (click)="doneItem(row)" [disabled]="row.done">
                                <i class="fa fa-check fa-lg" style="color:darkgreen"></i>
                            </button>
                            <button class="btn" title="Delete" (click)="deleteItem(row)">
                                <i class="fa fa-times fa-lg" style="color:brown"></i>
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Total Items: {{TodoList.length}}
                </div>
            </div>
        </div>
    </div>
</div>