<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <h1 class="text-center">Login</h1>
    <form #frm="ngForm" name="frm" novalidate>
        <div class="form-group">
            <label for="identity">Email/Username</label>
            <input type="text" class="form-control" name="identity" [(ngModel)]="user.identity" id="identity" #identity="ngModel"
                required>
            <p *ngIf="frm.submitted && identity.hasError('required')">
                Email/Username is required.
            </p>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password"
                #password="ngModel" required>
            <p *ngIf="frm.submitted && password.hasError('required')">
                Password is required.
            </p>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-right:30px;" (click)="Login(frm)">Login</button>
        <a routerLink="/register">Register Here ....</a>

    </form>
</div>